# Group project Python

Spotify reached out to our company TM3 for assisance with their target ad campaign. Their sponsors do not believe their ads are being appropriately targeted. Spotify is looking for better ways to target adolcecents based on the type of music they listen to. 

Today, we are presenting to you, the management team at Spotify, with our findings. Your management team hopes that TM3's findings can help them better market their sponsor's ads in the upcoming year.

In [38]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [39]:
#Import original dataset-Research
research = pd.read_csv("research.csv")
research.head()

,Music,Slow songs or fast songs,Pop,Rock,"Hiphop, Rap",Latino,"Techno, Trance",Comedy,Romantic,Sci-fi,...,Folk,Country,Classical music,Musical,Metal or Hardrock,Punk,Opera,Movies,Horror,Thriller
0,5,3,5,5,1,1,1,5,4,4,...,1,2,2,1,1,1,1,5,4,2
1,4,4,3,5,1,2,1,4,3,4,...,1,1,1,2,4,4,1,5,2,2
2,5,5,3,5,1,5,1,4,2,4,...,2,3,4,5,3,4,3,5,3,4
3,5,3,5,3,5,4,2,5,2,3,...,3,2,4,3,1,2,2,5,4,4
4,5,3,2,5,4,3,1,5,2,3,...,3,2,3,3,5,3,3,5,5,5

In [40]:
#Make copy of original dataset to make changes
research2 = research.copy()
research2.head()

,Music,Slow songs or fast songs,Pop,Rock,"Hiphop, Rap",Latino,"Techno, Trance",Comedy,Romantic,Sci-fi,...,Folk,Country,Classical music,Musical,Metal or Hardrock,Punk,Opera,Movies,Horror,Thriller
0,5,3,5,5,1,1,1,5,4,4,...,1,2,2,1,1,1,1,5,4,2
1,4,4,3,5,1,2,1,4,3,4,...,1,1,1,2,4,4,1,5,2,2
2,5,5,3,5,1,5,1,4,2,4,...,2,3,4,5,3,4,3,5,3,4
3,5,3,5,3,5,4,2,5,2,3,...,3,2,4,3,1,2,2,5,4,4
4,5,3,2,5,4,3,1,5,2,3,...,3,2,3,3,5,3,3,5,5,5

In [46]:
#Delete out extra columns not pertaining to research questions.
research2.drop(research2.columns[21:], axis=1, inplace=True)
research2

,Music,Slow songs or fast songs,Pop,Rock,"Hiphop, Rap",Latino,"Techno, Trance",Comedy,Romantic,Sci-fi,...,Action,Finances,Shopping centres,Entertainment spending,Spending on looks,Spending on gadgets,Age,Gender,Education,Village - town
0,5,3,5,5,1,1,1,5,4,4,...,2,3,4,3,3,1,20,female,college/bachelor degree,village
1,4,4,3,5,1,2,1,4,3,4,...,4,3,4,4,2,5,19,female,college/bachelor degree,city
2,5,5,3,5,1,5,1,4,2,4,...,1,2,4,4,3,4,20,female,secondary school,city
3,5,3,5,3,5,4,2,5,2,3,...,4,4,3,3,3,2,20,female,secondary school,village
4,5,3,2,5,4,3,1,5,2,3,...,4,2,3,3,1,4,20,male,secondary school,city
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
669,5,3,3,3,5,2,5,5,3,4,...,3,4,3,4,4,4,22,male,secondary school,city
670,5,2,4,4,4,3,3,4,5,4,...,4,3,5,3,4,3,20,female,secondary school,city
671,4,3,3,4,3,1,1,3,5,2,...,3,1,2,2,2,2,18,female,secondary school,city
672,5,3,3,4,2,2,2,5,3,1,...,4,3,2,5,3,3,25,female,college/bachelor degree,city
673,5,5,4,1,3,2,3,5,2,3,...,4,5,4,3,1,1,21,male,secondary school,village